@use "abstracts" as *;

$width: 90%;
$max-width: 1000px;
$picture-width: 400px;

$bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.15),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

section {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;

    scroll-margin-top: 10rem;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    border: none;
    cursor: pointer;
}

.copy {
    cursor: pointer;
}

.tooltiptext,
.tooltiptext--copy {
    display: none;
    opacity: 0;
    position: absolute;
}
@media (min-width: $medium){
    .tooltip {
        position: relative;
        display: inline-block;

        & .tooltiptext {
            display: block;
        }

        & .tooltiptext,
        & .tooltiptext--copy {
            padding: 0.5em;
            background-color: $glass-gradient-top;
            text-align: center;
            border-radius: 5px;
            width: max-content;
           
            top: 110%;
            left: 50%;
            transform: translateX(-50%);
    
            z-index: 1;
    
            transition: opacity 250ms ease-in-out;
        }
    
        &:hover .tooltiptext {
            opacity: 1;
        }     
    }  

}

.tooltiptext--copy.active{
    display: block;
    opacity: 1;
}
